<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/RDJ.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses mapbox.net and darksky.net</p>
        <img class="portrait" src="/img/RDJ.png">
        </div>
        
        
        {{>footer}}
    </body>
</html>