body {
    color: #333;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 340px;
    padding: 0 14px;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    padding: 16px 0;
    margin-top: 16px;
    border-top: 1px solid #333;
}

header {
    margin-top: 14px;
    margin-bottom: 40px; 
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #888888;
    padding: 8px;
}

button {
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}